/* xxl-device Start*/
@media (min-width: 1400px){}

/* xl-device Start*/
@media (min-width: 1200px){
    .banner_title {
        font-size: 50px;
        line-height: 1.2;
    }
}

/* lg-device Start*/
@media (min-width: 992px){
    .banner_title {
        font-size: 40px;
        line-height: 1.2;
    }
}

/* md-device Start*/
@media (min-width: 768px) and (max-width: 991.98px){
    .Get{
        display: none;
    }
}

/* sml-device Start*/
@media (min-width: 576px) and (max-width: 767.98px){
}

/* xsml-device Start*/
@media (max-width: 575.98px){
}

@media (max-width: 991.98px){
}
