/*
Teamplate Name: Zakkash
Author: Creative IT Institute
Version: 1.0

----------------------------------------------------------------
Table of Contents
----------------------------------------------------------------
    1) Common Css
    2) About Css
*/

/* Common  Css Start */
:root {
    --white-color: #ffffff;
    --fog-white-color: #444444;
    --dark-text-color: #222222;
    --text-color: #dddddd;
    --hlt-color: #de4644;
    --main-font: 'Raleway', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --special-font: 'Sacramento', cursive;
}



body {
    font-family: 'Muli', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
span,
p {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    color: #30384e;
    text-decoration: none;
    background-color: transparent;
}

img {
    width: 100%;
}

.form-control:focus {
    box-shadow: none;
}

.section_title {
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 30px;
}

.section_title h2 {
    line-height: 36px;
    font-size: 30px;
    color: #333d46;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Jost', sans-serif;
    margin-bottom: 5px;
}

.section_title h2 span {
    color: #03b97c;
}

.section_title p {
    font-size: 15px;
    font-weight: 500;
    color: #3c4852;
    line-height: 1.8;
    margin-bottom: 5px;
}

.slick-slider {
    left: -25px;
}

.slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
}

.slick-next:before,
.slick-prev:before {
    content: '←';
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    background: white;
    justify-content: center;
    color: #03b97c;
    border-radius: 50%;
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff;
}

.flex {
    width: auto;
    display: flex;
    align-items: center;
}

h5,
h6 {
    color: #333d46;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333d46;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Jost', sans-serif;
}

#backToTop {
    background: #03b97c;
    border: none;
    padding: 15px 10px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    display: none;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    z-index: 99999;
}

.theme-bg {
    background: #03b97c;
}

/* Common  Css end */
header {
    color: #404656;
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    transition: linear 0.7s;
    -webkit-transition: linear 0.7s;
    -moz-transition: linear 0.7s;
    -ms-transition: linear 0.7s;
    -o-transition: linear 0.7s;
}

.stickyNav {
    background: white;
    box-shadow: 0px 0px 42px 0px #03b97c;
    animation: stickyNav .5s;
    -webkit-animation: stickyNav .5s;
}

@keyframes stickyNav {
    from {
        top: -50px;
    }

    to {
        top: 0;
    }
}

.nav-header {
    width: 150px;
    position: relative;
    top: 0px;
    margin-right: 34px;
}

.navbar-nav .nav-item {
    padding: 30px 0px;
}

.navbar-nav .nav-item a {
    text-decoration: none;
    padding: 30px 12px;
    font-weight: 600;
    font-size: 12px;
    color: #404656;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.navbar-nav .nav-item a:hover {
    color: #03b97c;
}

.navbar-nav .nav-item a .arrow {
    font-size: 12px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.navbar-nav .nav-item:hover a .arrow {
    color: #03b97c;
    font-size: 14px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.navbar-nav .nav-item .nav-submenu {
    position: absolute;
    width: 240px;
    top: 100px;
    line-height: 40px;
    border: none;
    padding: 15px;
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 42px 0px rgb(32 32 32 / 15%);
    opacity: 0;
    visibility: hidden;
    transition: all linear.3s;
    -webkit-transition: all linear.3s;
    -moz-transition: all linear.3s;
    -ms-transition: all linear.3s;
    -o-transition: all linear.3s;
    z-index: 11111;
}

.navbar-nav .nav-item:hover>.nav-submenu {
    top: 80px;
    opacity: 1;
    visibility: visible;

}

.navbar-nav .nav-item .nav-submenu li {
    width: 100%;
    border-bottom: 1px solid #e4e8ec;
}

.navbar-nav .nav-item .nav-submenu li:last-child {
    border-bottom: none;
}

.navbar-nav .nav-item .nav-submenu li a {
    width: 100%;
    display: block;
    padding: 5px 10px 5px 10px;
}

.navbar-nav .nav-item .nav-submenu li a:hover {
    padding-left: 20px;
}

.navbar-nav>li .nav-submenu::before {
    background-color: #ffffff;
    content: "";
    width: 22px;
    height: 22px;
    left: 27px;
    top: -10px;
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.nav-menu-social>li>a i {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.nav-menu-social>li>a:hover i {
    font-size: 15px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.nav-menu-social .Get a {
    border: 1px solid #444444;
    color: #404656;
    padding: 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.nav-menu-social .Get:hover a {
    opacity: 1;
    border: 1px solid #03b97c;
    color: #ffffff;
    background: #03b97c;
}

/*banner section Start*/
.hero_banner {
    display: flex;
    height: auto;
    padding: 7rem 0;
    align-items: center;
    position: relative;
}

.image-cover {
    justify-content: center;
    background-position: center !important;
    background-size: cover !important;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
}

.image-cover.image_bottom {
    background-position: bottom !important;
}

.elsio_tag {
    display: table;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    padding: 5px 20px;
    background: linear-gradient(95.84deg, #ff9800 0%, rgb(3 185 124) 100%);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.6;
    color: #ffffff;
}

.text-left .elsio_tag {
    margin: 10px 0;
}

.font-lg {
    font-size: 18px;
    color: #3c4852;
}

.simple_search {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.input-group.simple_search i {
    position: absolute;
    left: 15px;
    top: 20px;
    z-index: 22;
    font-size: 18px;
    color: #ccd7de;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.input-group.simple_search:hover i {
    color: #03b97c;
    font-size: 20px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.simple_search .form-control {
    height: 58px;
    background: #ffffff;
    border-color: #f0f4f7;
    padding-left: 40px;
    box-shadow: 0px 0px 42px 0px rgb(32 32 32 / 15%);
}

.simple_search .btn {
    height: 58px;
    align-items: center;
    justify-content: center;
    background: #03b97c;
    padding: 12px 25px;
    color: #ffffff;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -ms-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
}

.simple_search .btn:hover {
    box-shadow: 0px 0px 42px 0px #03b97c;
}

/*banner section end*/


/*crp box start*/
.crp_box {
    display: block;
    width: 100%;
    background: #ffffff;
    border-radius: 0.6rem;
    padding: 2rem 1rem;
    z-index: 1;
    position: relative;
    box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
    -webkit-box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
}

.ovr_top {
    margin-top: -50px;
}

.crp_box.sm {
    padding: 1rem 1rem;
}

.crp_tags {
    padding-right: 0rem;
    text-align: right;
}

.crp_tags h6 {
    margin: 0;
    color: #37455f;
    font-weight: 500;
}

.part_rcp ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.part_rcp ul li {
    width: 25%;
    flex: 0 0 25%;
    display: inline-flex;
}

.part_rcp ul li .crp_img {
    padding: 0 1rem;
}

/*crp box end*/

/*Featured section start*/
#Featured {
    padding: 0px 0 80px 0;
    position: relative;
}

.crs_frist {
    flex: 1;
}

.crs_grid {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 0.5rem;
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.crs_grid:hover {
    background: rgba(3, 185, 124, 0.14);
    box-shadow: 0 0 20px 0 #03b97c;
}

.crs_grid_thumb {
    position: relative;
    padding: 10px;
    width: 100%;
    background: #ffffff;
    min-height: 150px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.crs_grid_thumb:hover {
    background: rgba(3, 185, 124, 0.14);
}

.crs_grid_thumb .crs_detail_link {
    height: auto;
    display: block;
    position: relative;
}

.crs_video_ico {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ffffff;
    color: #03b97c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.crs_locked_ico {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ffffff;
    color: #ff9800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.crs_grid_caption {
    padding: 0rem 1rem 1rem;
    position: relative;
    display: block;
}

.cl_1 {
    background: rgba(76, 175, 80, 0.11);
    color: #4caf50;
}

.cl_2 {
    background: rgba(226, 58, 49, 0.11);
    color: #e23a31;
}

.cl_3 {
    background: rgba(189, 43, 214, 0.11);
    color: #bd2bd6;
}

.cl_4 {
    background: rgba(130, 79, 60, 0.11);
    color: #824f3c;
}

.cl_5 {
    background: rgba(255, 87, 34, 0.11);
    color: #ff5722;
}

.cl_6 {
    background: rgba(134, 95, 255, 0.11);
    color: #865fff;
}

.crs_cates {
    display: inline-flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 5px 16px;
    font-size: 14px;
    border-radius: 50px;
    margin-right: 7px;
}

.crs_inrolled {
    font-size: 14px;
    color: #4e6579;
    display: inline-block;
}

.crs_inrolled strong {
    margin-right: 4px;
    color: #30384e;
}

.crs_ttl {
    display: block;
    margin: 5px 10px 15px 0;
}

.crs_ttl h4 .crs_ttl_link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #30384e;
}


.crs_info_detail {
    position: relative;
    display: block;
    width: 100%;
}

.crs_info_detail ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.crs_info_detail ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33.333333%;
    flex: 0 0 33.333333%;
    color: #4e6579;
    font-size: 14px;
    list-style: none;
}

.crs_info_detail ul li i {
    margin-right: 5px;
}


.crs_grid_foot {
    width: 100%;
    min-height: 50px;
    border-top: 1px solid #eff3f7;
    padding: 0.7rem 1rem;
    position: relative;
}

.grid_foot_img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.grid_foot_img a {
    display: block;
    position: relative;
}

.grid_foot_img img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.tutor_name {
    padding-left: 6px;
    margin-right: 160px;
}

.tutor_name a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #333d46;
}

.grid_pricing h2 {
    margin: 0;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.crs_price h2 .currency {
    font-size: 18px;
}

.theme-cl {
    color: #03b97c !important;
}

.btn {
    border: none;
    box-shadow: none;
    font-family: 'Jost', sans-serif;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.btn:hover {
    color: #30384e;
    box-shadow: 0 0 20px 0 #03b97c;
}

.btn.btn-md {
    padding: 16px 35px;
    background: rgba(3, 185, 124, 0.12);
}

/*Featured section end*/

/*categories section start*/
#ctg {
    padding: 0 0 50px 0;
    background: #f7f8f9;
}

.ctg_wrap.style_2 .crs_ctg_box {
    display: flex;
    flex-direction: column;
    transition: all ease 0.4s;
    height: auto;
    margin-bottom: 30px;
    padding: 1.5rem 1.2rem;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgb(62 28 131 / 7%);
    -webkit-box-shadow: 0 0 10px 0 rgb(62 28 131 / 7%);
}

.ctg_wrap .crs_ctg_box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(3, 185, 124, 0.1);
    border-radius: 0.2rem;
    height: 60px;
    margin-bottom: 30px;
    padding: 0.5rem 1rem;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
}

.ctg_wrap .crs_ctg_box:hover {
    background: #03b97c;
}

.ctg_wrap.style_2 .crs_ctg_box .crs_ctg_icon {
    color: #03b97c;
    font-size: 27px;
    width: 60px;
    height: 60px;
    background: rgba(3, 185, 124, 0.14);
    margin-bottom: 5px;
    line-height: 60px;
    text-align: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.ctg_wrap.style_2 .crs_ctg_box:hover .crs_ctg_icon {
    background: rgba(255, 255, 255, 1);
}

.crs_ctg_caption span {
    font-weight: 500;
    font-size: 17px;
    color: #262f35;
    transition: all ease 0.4s;
}

.ctg_wrap.style_2 .crs_ctg_box:hover .crs_ctg_caption span {
    color: #ffffff;
}

.ctg_wrap.style_2 .crs_ctg_count span {
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
    color: #ff9800;
}

/*categories section end*/

/*instructor section start*/
#instructor {
    padding: 80px 0 80px 0;
}

.lmp_caption h2 {
    line-height: 37px;
    font-size: 37px;
}

.lmp_caption p {
    margin-bottom: 10px;
    line-height: 1.8;
    color: #3c4852;
    font-size: 15px;
}

.bg-light-success {
    background: #e8fdeb;
}

.lmp_caption .ins {
    background: #03b97c;
}

.h4 {
    font-weight: 600;
    line-height: 1.2;
    font-size: 21px;
}

section {
    padding-bottom: 80px;
}

/*instructor section end*/

/*Review section start*/
.gray {
    background: #f7f8f9;
}

.slider_unit {
    margin-left: 51px;
}

.testimonial {
    background: #ffffff;
    border-radius: 6px;
    padding: 2rem;
    margin: 7px;
}

.first .tsl_thumb {
    width: 70px;
    height: 70px;
    display: table;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.tsl_caption h5 {
    font-size: 14px;
    margin: 0;
    line-height: 8px;
}

.tsl_caption span {
    font-size: 12px;
    line-height: 1;
}

.ovr_rates {
    padding: 4px 5px;
    background: #ff9800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #ffffff;
    font-size: 13px;
    width: auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.ovr_rates span {
    margin-right: 4px;
    font-size: 10px;
}

.last {
    flex: 1;
    justify-content: flex-end;
}

.last .tsl_thumb {
    width: 55px;
    height: auto;
    border-radius: 0;
    overflow: initial;
}

.tsl_detail {
    margin-top: 15px;
}

.tsl_detail p {
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
}

.slider_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #fff;
    font-size: 10px;
    background-color: #03b97c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    z-index: 99;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.slider_arrow:hover {
    box-shadow: 0 0 20px 0 #03b97c;
}

.slider_arrow.slider_arrow_left {
    left: -1px;
}

.slider_arrow.slider_arrow_right {
    right: -4px;
}

/*Review section end*/

/*Artical section start*/
.blg_grid_box {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    margin-bottom: 30px;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
    -webkit-box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.blg_grid_box:hover {
    box-shadow: 0 0 20px 0 #03b97c;
}
.blg_grid_box .blg_thumb{
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.blg_grid_box .blg_thumb:hover{
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
}
.blg_caption {
    position: relative;
    display: block;
    padding: 1.2rem 1.2rem;
}

.blg_caption .blg_tag {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    border-radius: 4px;
    color: #03b97c;
    font-size: 13px;
    font-weight: 600;
    padding: 0.2rem 0.8rem;
    background: rgba(3, 185, 124, 0.1);
    margin-bottom: 4px;
}

.blg_title h4 {
    font-size: 16px;
    line-height: 1.4;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.blg_title h4 a{
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.blg_title h4 a:hover {
    color: #03b97c;
}

.blg_desc p {
    font-size: 14px;
    line-height: 1.8;
    color: #4e6579;
    margin: 0;
}

.crs_grid_foot {
    width: 100%;
    min-height: 50px;
    border-top: 1px solid #eff3f7;
    padding: 0.7rem 1rem;
}

.footer_info ul li {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-weight: 500;
    font-size: 13px;
    list-style: none;
}

.footer_info ul li i {
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #ffffff;
    border: 1px solid #eff1f5;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 11px;
}

/*Artical section end*/